body {
	background-color: white;
	padding: 20px;
	border-style: solid;
	border-width: 10px;
	border-color: darkgrey;
	font-family: helvetica, sans-serif;

}

p {
	font-size: 20px;
}

a {
	font-size: 20px;
	color: black;
	text-align: center;
}


h1 {
	text-align: center;
}

img .port {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

li {
	font-family: sans-serif;
	font-size: 15px;
}

.border1 {
	border-bottom-width: 10px;
	border-top-width: 10px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-style: solid;
	border-color: black;
}

.centertitle {
	text-align: center;
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-style: solid;
	border-color: black;

}

.body {
	text-align: left;
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-style: solid;
	border-color: black;
	width: 75%;
	float: left;
}

.picture {
	width: 25%;
	float: left;
	height: auto;
	background-image: url('communicator.png');
	background-repeat: no-repeat;
}

.content {
		padding-top: 20px;
}

.contact {
	
}